<div id="global_container">


	<div class="new_product"><!--Left hand side of page identifying target item-->

		<div id="back_to_closet">
			<a href="http://www.stylekick.com/profile.html">Back to closet</a>
		</div>

		<div id="new_product_name">Name

		</div>

		<div class="new_product_image">

		</div>

		<div class="new_product_sizes">

			<!-- Is this the correct way to itemize sizes and styles? List form?-->

			<div class="size" data-name="XS" data-selected="false">XS</div>
			<div class="size" data-name="S" data-selected="false">S</div>
			<div class="size" data-name="M" data-selected="false">M</div>
			<div class="size" data-name="L" data-selected="false">L</div>
			<div class="size" data-name="XL" data-selected="false">XL</div>

		</div>

		<div id="new_product_styles">
			<div class="product_style" data-name="Style1" data-selected="false"></div>
			<div class="product_style" data-name="Style2" data-selected="false"></div>
			<div class="product_style" data-name="Style3" data-selected="false"></div>

		</div>

		<div id="new_product_price">$0.00
		</div>
		<div id="action_button_container">
			<div id="buy_button">
				Buy
			</div>
			<div id="want_button">
				Want
			</div>
		</div>
	</div>

	<div id="details_and_comparison"> <!--For new product, this is the middle section of the page-->
		<div id="new_product_details">Text
		</div>
		<div class="comparison"> <!--For upper body -->
			<div id="compare_text"> 
				How does it compare?
			</div>
			<div id="hologram">
			</div>
			<div class="measurements">
				<ul>
					<li class="measurements">Neck</li>
					<li class="measurements">Chest</li>
					<li class="measurements">Sleeve Width</li>
					<li class="measurements">Waist</li>
					<li class="measurements">Cuff</li>
					<li class="measurements">Sleeve Length</li>
				</ul>
				<div class="measurement_results">
					<div id="suggested_size">
						A medium is the best match
					</div>
				</div>
			</div>
		</div>

		<div id="owned_and_recommended_grid"> <!--Right hand side of the page-->
			<div id="owned_item_text">
			</div>
			<div id="item_container">
			</div>
			<div class="owned_item_image">
			</div>
			<div id="owned_item_name">
			</div>
			<div id="owned_item_size">
			</div>
		</div>
	</div>
</div>

