//$topbar-height: 105px;
$sk-color: #150f0e;
$topbar-bg: $sk-color;


html,body {
  //height:100%;

  //font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: PlutoSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;

}