@font-face {
  font-family: Pluto;
  src:url(237662_9_0.ttf);
}

@font-face {font-family: PlutoSansLight; src:url('assets/237662_7_0.ttf');}

@font-face {font-family: 'PlutoSansCondExLight';src: url('assets/237662_5_0.eot');src: url('assets/237662_5_0.eot?#iefix') format('embedded-opentype'),url('assets/237662_5_0.woff') format('woff'),url('assets/237662_5_0.ttf') format('truetype');}


@font-face {font-family: 'PlutoSansRegular';src: url('webfonts/237662_0_0.eot');src: url('webfonts/237662_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/237662_0_0.woff') format('woff'),url('/assets/237662_0_0.ttf') format('truetype');}